{% extends 'base.html.twig' %}

{% block title %}News Parser!{% endblock %}

{% block body %}
      <div class="starter-template">
        <div class="clearfix">
          <div class="spinner-border float-center" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>        
        {% include 'news/list.html.twig' %}
      </div>
{% endblock %}
