<div class="container">
  {% for news in news_list %}
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h4>{{ news.title }}</h2>
              <h6>{{ news.shortdescription }}</h4>
              <a href="#" class="card-link">Подробнее</a>
            </div>
          </div>  
        </div>
      </div>
  {% endfor %}
</div>